[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

tabulate = "==0.8.1"
wcwidth = "==0.1.7"
"mir.anidb" = "~=1.0"
"mir.cp" = "~=1.0"
"mir.sqlqs" = "*"
sqlalchemy = "~=1.1"
apsw = "~=3.9"

[dev-packages]

pytest = "~=3.2"
"pytest-catchlog" = "~=1.2"
"pytest-cov" = "~=2.5"
