-e git+https://bitbucket.org/astanin/python-tabulate.git#egg=tabulate
wcwidth==0.1.6
mir.anidb==1.0.0
mir.cp==1.0.0
mir.sqlqs==0.2.0

# Test dependencies
pytest==3.0.4
pytest-catchlog==1.2.2
pytest-cov==2.4.0
hypothesis==3.6.1
