-e git+https://bitbucket.org/astanin/python-tabulate.git#egg=tabulate
wcwidth==0.1.6
-e git+https://github.com/rogerbinns/apsw.git@3.11.1-r1#egg=apsw

# Test dependencies
pytest==3.0.4
pytest-catchlog==1.2.2
pytest-cov==2.4.0
